# Dependencies node_modules (Frontend)
/node_modules

# Build output (if you create builds)
/build

# OS files
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional Editor directories
.idea
.vscode
*.swp

# Environment Variables File for frontend (if you were to use one - good practice)
server/.env
node_modules